{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{% static 'sequencer/css/style.css' %} ">
        
        <!-- p5.js -->
        <script src="{% static 'sequencer/libraries/p5.js' %} "></script>
        <script src="{% static 'sequencer/libraries/p5.sound.js' %} "></script>
        <script src="{% static 'sequencer/libraries/quicksettings.js' %} "></script>
       
        <!-- Other dependancies -->
        <script src="{% static 'sequencer/libraries/matter.js' %} "></script>
        <script src="{% static 'sequencer/libraries/webmidi.iife.js' %} "></script>
        
        <title> Motion Sound Sequencer | Physics-based MIDI Sequencer </title>

    </head>

    <body>
        <script src="{% static 'sequencer/js/gui.js' %} "></script>
        <script src="{% static 'sequencer/js/platform.js' %} "></script>
        <script src="{% static 'sequencer/js/circle.js' %} "></script>
        <script src="{% static 'sequencer/js/emitter.js' %} "></script>
        <script src="{% static 'sequencer/js/midi.js' %} "></script>
        <script src="{% static 'sequencer/js/MIDIFactory.js' %} "></script>
        <script src="{% static 'sequencer/js/mouse.js' %} "></script>
        <script src="{% static 'sequencer/js/screenBoundary.js' %} "></script>
        <script src="{% static 'sequencer/js/timedTrigger.js' %} "></script>
        <script src="{% static 'sequencer/js/simulation.js' %} "></script>
        <script src="{% static 'sequencer/js/sketch.js' %} "></script> 
    </body>

</html>